<h2>{{title}}</h2>

<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Название</th>
      <th>Содержимое</th>
    </tr>
  </thead>
  <tbody>
    {{#each posts as |post|}}
      <tr>
        <td>{{post.id}}</td>
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>